textbook/CalculoNumerico.idx
textbook/CalculoNumerico.aux
textbook/CalculoNumerico.lof
textbook/CalculoNumerico.log
textbook/CalculoNumerico.lot
textbook/CalculoNumerico.out
textbook/CalculoNumerico.pytxcode
textbook/CalculoNumerico.toc
